body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: "Source Sans Pro";
    border-top: 5px solid #fdbd1f;
    padding-bottom: 200px;
    /* DEV */
}

.wrap {
    width: 870px;
    margin: 0 auto;
    /*    background-color: rgba(0, 255, 0, 0.5);*/
    /* TEST */
}

/* ================== */

/* ===== header ===== */

/* ================== */

.header {
    min-height: 80px;
    background-color: white;
}

/* site-logo */

.header .site-logo {
    float: left;
    padding-left: 25px;
    padding-top: 25px;
}

.header .site-logo a {
    display: block;
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
    color: #9e8e92;
}

.header .site-logo a span {
    font-size: 14px;
    font-weight: lighter;
}

.header .site-logo img {
    position: absolute;
    left: 0px;
}

/* top-menu */

.header .top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right
}

.header .top-menu li {
    display: inline-block;
}

.header .top-menu li a {
    display: block;
    min-width: 60px;
    padding: 0 10px;
    font: 13px/80px "Source Sans Pro";
    text-align: center;
    text-decoration: none;
    color: #9e8e92;
}

.header .top-menu li a:hover {
    background-color: #fdbd1f;
    color: white;
}

/* ================= */

/* ===== promo ===== */

/* ================= */

.promo {
    height: 440px;
    background: #feefd7 url(img/backgr.png) no-repeat center;
    background-size: cover;
}

.promo .title {
    padding-top: 200px;
    text-align: center;
}

.promo .title span {
    padding: 0 10px;
    font: 31px/42px "Source Sans Pro";
    letter-spacing: 0.08em;
    font-weight: bold;
    background-color: #ab6f80;
    color: white;
}

/* ================= */

/* ===== offer ===== */

/* ================= */

.offer {
    padding: 60px 0;
    text-align: center;
    background-color: #fdbd1f;
    color: white;
}

.offer h3 {
    margin: 0;
    font-size: 24px;
}

.offer p {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: lighter;
}

.offer a {
    display: inline-block;
    margin-top: 30px;
    min-width: 140px;
    min-height: 25px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fdbd1f;
    background-color: #ab6f80;
}

.offer a + a {
    margin-left: 15px;
}
